:root {
    --text: #10131a;
    --blackbg: #0a0a0f;
    --nav: #161c2a;
    --bg: #f5f0e8;
    --title: #e8e0d0;
    --accent: #5299b0;
    --link: #2176a8;
    --border: 1px solid #cfc9c0;
}

html,
body {
    min-height: 100vh;
}

body {
    height: 100%;
    background-color: var(--bg);
    color: var(--text);
    margin: 0;
    padding: 0;
    font-family: var(--general_font);
    font-size: 1.2em;
    text-align: justify;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
}

.content {
    padding: 2vw;
}

h1 {
    color: var(--accent);
    font-family: var(--h1_font);
    text-align: left;
}

h4 {
    color: var(--accent);
    font-size: 1.2em;
    text-align: center;
}

p {
    color: var(--text);
    text-align: justify;
}

a:hover,
span {
    color: var(--yellow);
}

a {
    color: var(--link);
}

footer {
    margin-top: auto;
    padding: 20px;
    /* spinge il footer in fondo */
    width: 100%;
    color: var(--text);
    border-top: var(--border);
}

footer p {
    text-align: center;
}

@media (max-width: 600px) {
    body {
        font-size: 16px;
    }

    h1 {
        font-size: 32px;
    }

    h4 {
        font-size: 18px;
    }
}

.hero {
    width: 100%;
    height: 20vh;
    background-image: url(../img/Ugo_Foscolo.jpg) !important;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    padding: 0;
    position: relative;
}

.hero-logo {
    position: absolute;
    top: 4vh;
    left: 5vh;
    z-index: 2;
}

.hero-logo img {
    height: 12vh;
    width: auto;
}